<!DOCTYPE html>
<html>

<head>
<title> Fiche De L'Animal</title>
<meta charset="utf-8">
</head>

<body>
<h1>Fiche De L'Animal : </h1>
{{#animal}}
<label>Nom : </label>
{{nom}}
<br>
<label>Description : </label>
{{description}}
<br>
<label>Date de naissance : </label>
{{dnaissance}}
<br>
<label>Sexe : </label>
{{sexe}}
<br>
<label>Couleur : </label>
{{couleur}}
<br>
<label>Adopté : </label>
{{adopte}}
<br>
<label>SOS : </label>
{{sos}}
<br>
<label>Espèce : </label>
{{espece.libelle}}
{{/animal}}
</body>

</html>