{{> inc/header}}
<meta charset="UTF-8">
<v-app>
  <v-card class="mx-auto" max-width="400" title>
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title><a href="/sos">Voir les animaux catégorisés SOS</a></v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title><a href="/adoptes">Voir les animaux adoptés</a></v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title><a href="/chiens">Voir les chiens</a></v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</v-app>
 




<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.js"></script>
{{{vue}}}

{{> inc/footer}}